* {
    font-family: 'Roboto', sans-serif;
}
.edu-page{
    display: flex;
    justify-content: center;

}
.edu-centre{
    width: 80%;
}

@media only screen and (max-width: 767px){
    .edu-centre{
        width: 95%;
    }
    

}