.landing-page{
    display: flex;
    justify-content: center;

}
.landing-center{
    width: 80%;
}

@media only screen and (max-width: 1000px){
    .landing-center{
        width: 95%;
    }
    

}