.Landing-page{
    background-color: #3858FF;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
    overflow:hidden;
    font-family: 'Roboto', sans-serif;
}
.TeamName{
    font-size: 25px;
    left: 130px;
    top: 100px;
    position: absolute;
    color: white;
}
.Landing-page-text{
    color: white;
    position: absolute;
    top: 200px;
    left: 130px;
    display: flex;
    height: 300px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.Landing-page-text h3{
    font-size: 120px;
}
.Landing-page-text p{
    font-size: 25px;
    text-align: center;
}
.Landing-page-img{
    position: absolute;
    left: 600px;
    top: -120px;
}
.Landing-page-img img{
    width: 1100px;
    animation: bounce 2.5s linear infinite;
}
@keyframes bounce {
    0% {transform: translateY(10px);}
    50% {transform: translateY(-20px);}
    100% {transform: translateY(10px);}
}

.Landing-Button{
    background-color: #00d09b;
    border: 0px;
    width: 230px;
    height: 50px;
    font-size: 25px;
    border-radius: 100px;
    color: white;
    cursor: pointer;
    transition: all linear 0.15s;
}
.Landing-Button:hover {
    background-color: white;
    color: #00d09b;
}
