.ms-sub-body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.ms-payment-container {
    border: 3px solid var(--msc-primary-color);
    width: 40%;
    border-radius: 10px;
    height: 60vh;
    overflow-y: scroll;
}
.ms-payment-container h1 {
    text-align: center;
    color: var(--msc-primary-color);
    padding: 15px;
}

.ms-card-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: stretch;
}

div::-webkit-scrollbar-track {
    background: var(--msc-secondary-color);
}
div::-webkit-scrollbar-thumb {
    background: var(--msc-primary-color);
    height: 1px;
}

.ms-saving-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
}
.ms-saving-container h1 {
    color: var(--msc-primary-color);
}
.ms-saving-container h3 {
    color: var(--msc-primary-color);
    font-size: 24px;
}

.ms-amount-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ms-amount-div:nth-child(2) {
    font-size: 18px;
}

.ms-saving-container button {
    background: var(--msc-primary-color);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    border: 0px;
    color: white;
    font-size: 18px;
    margin-top: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.15s linear;
    box-shadow: 0px 0px 5px black;
}
.ms-saving-container button:hover {
    background-color: var(--background-color);
    color: var(--msc-primary-color);
}

.ms-piggy-bank {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
    height: 30vh;
    margin-top: 100px;
    background-image: url("../../assets/piggy-bank.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.ms-piggy-bank p {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 32px;
}

.ms-bottom h1{
    margin-left: 10%;
    font-size: 20px;
    margin-bottom: 10px;
} 
.payment-input-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 10%;
    width: 32%;
    font-family: "Roboto", sans-serif;
}
.payment-input-form input, .payment-input-form select {
    padding: 10px;
    font-size: 18px;
}
.payment-input-form button {
    padding: 10px;
    font-size: 18px;
    background-color: var(--msc-secondary-color);
    border: 0px;
    box-shadow: 0px 3px 5px var(--msc-primary-color);
    cursor: pointer;
    transition: all 0.15s linear;
}
.payment-input-form button:hover {
    background-color: var(--msc-primary-color);
    color: white;
}

@media screen and (max-width: 600px) {
    .ms-body {
        width: 100vw;
    }
    .ms-sub-body {
        width: 90vw;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        gap: 75px;
    }
    .ms-payment-container {
        width: 100%;
    }

    .ms-saving-container {
        width: 100%;
    }
    .ms-saving-container h3 {
        /* margin-top: 30px; */
    }

    .ms-amount-div {
        margin-top: 20px;
    }
    .ms-amount-div:nth-child(2) {
        font-size: 25px;
    }
    .ms-saving-container button {
        margin-top: 50px;
        width: 200px;
    }

    .ms-piggy-bank {
        margin-top: 50px;
        height: 200px;
        width: 200px;
    }

    .ms-bottom h1 {
        text-align: center;
        margin-left: 0px;
    }
    .payment-input-form {
        margin-top: 20px;
        width: 90vw;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 30px;
    }
}