.ms-sub-body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.ms-payment-container {
    border: 3px solid #6074d7;
    width: 40%;
    border-radius: 10px;
    height: 80vh;
    overflow-y: scroll;
}
.ms-payment-container h1 {
    text-align: center;
    color: #6074d7;
    padding: 15px;
}

.ms-card-container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

div::-webkit-scrollbar-track {
    background: #c7d0ff;
}
div::-webkit-scrollbar-thumb {
    background: #6074d7;
    height: 1px;
}

.ms-saving-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.ms-saving-container {
    padding: 15px;
}

.ms-piggy-bank {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    height: 50vh;
    background-image: url("../../assets/piggy-bank.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.ms-piggy-bank p {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 32px;
}