.ms-sub-body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.ms-payment-container {
    border: 3px solid #6074d7;
    width: 40%;
    border-radius: 10px;
    height: 60vh;
    overflow-y: scroll;
}
.ms-payment-container h1 {
    text-align: center;
    color: #6074d7;
    padding: 15px;
}

.ms-card-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: stretch;
}

div::-webkit-scrollbar-track {
    background: #c7d0ff;
}
div::-webkit-scrollbar-thumb {
    background: #6074d7;
    height: 1px;
}

.ms-saving-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
}
.ms-saving-container h1 {
    color: #6074d7;
}
.ms-saving-container h3 {
    color: #6074d7;
    font-size: 24px;
}
.ms-saving-container button {
    background: #6074d7;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    border: 0px;
    color: white;
    font-size: 18px;
    margin-top: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.15s linear;
    box-shadow: 0px 0px 5px black;
}
.ms-saving-container button:hover {
    background-color: white;
    color: #6074d7;
}

.ms-piggy-bank {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
    height: 30vh;
    margin-top: 100px;
    background-image: url("../../assets/piggy-bank.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.ms-piggy-bank p {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 32px;
}

.ms-bottom h1{
    margin-left: 10%;
    font-size: 20px;
    margin-bottom: 10px;
} 
.payment-input-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 10%;
    width: 32%;
    font-family: "Roboto", sans-serif;
}
.payment-input-form input, .payment-input-form select {
    padding: 10px;
    font-size: 18px;
}
.payment-input-form button {
    padding: 10px;
    font-size: 18px;
    background-color: #c7d0ff;
    border: 0px;
    box-shadow: 0px 3px 5px #6074d7;
    cursor: pointer;
    transition: all 0.15s linear;
}
.payment-input-form button:hover {
    background-color: #6074d7;
    color: white;
}