.pt-sub-body {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
.pt-card-container {
    width: 35vw;
    height: 60vh;
    padding: 20px;
    overflow-y: scroll;
    border: 1px solid black;
    padding: 25px;
    border-radius: 10px;
}
.pt-cc-heading {
    font-size: 32px;
    text-align: center;
    color: #00d09b;
    margin-bottom: 20px;
}
.pt-card-container-div {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
}