.footer{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 50px;
}
.footer-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-quote{
    font-size: 20px;
}
.creaters{
    font-size: 18px;
}
.footer-heart{
    color: red;
}

.footer-contact{
    font-size: 15px;
}
.footer-icons{
    margin-top: 5px;
    display: flex;
    justify-content: center;
}
.icon-center{
    display: flex;
    width: 60%;
    justify-content: space-between;
}