.landing-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
}
.landing-top-text{
    width: 50%;
    font-size: 50px;
    font-weight: 100;
 
}
.landing-top-image{
    width: 50%;
    margin-left: 200px;
    margin-top: 50px;
    height: 500px;
    background-image: url("../../assets/3487924_518130-PIYI38-752-removebg-preview.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@media only screen and (max-width: 600px){
    .landing-top{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 350px;
    }
    .landing-top-text{
        width: 100%;
        font-size: 40px;
        font-weight: 100;
     
    }
    .landing-top-image{
        width: 100%;
        height: 300px;
        margin-left: 0px;
        background-color: red;
    }
}