.Navbar{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    height: 100px;
    z-index: 10;
}

.Navbar-content{
    position: fixed;
    background-color: white;
    padding: 15px;
    box-shadow: 0px 0px 10px gray;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 10;
}
.Navbar-content p{
    font-size: 20px;
}
.Navbar-logo img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.navbar-links{
    display: flex;
    justify-content: space-between;
    /* width: 200px; */
    gap: 20px;
}
.Link1, .Link2, .Link3{
    cursor: pointer;
    transition-timing-function: linear;
    text-decoration: none;
    font-size: 18px;
    background-color: white;
    color: #6074d7;
    border-radius: 10px;
    box-shadow: 0px 0px 5px gray;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.15s;
}
.Link1:hover, .Link2:hover, .Link3:hover{
    color: white;
    background-color: #6074d7;
}
.active {
    color: white;
    background-color: #6074d7;
}

@media only screen and (max-width: 1000px){
    .Navbar-content{
        display: flex;
        justify-content: space-between;
        width: 95%;
    }
    

}